
.ProductosNK_Admin,
.ProductosCategoriasNK_Admin,
.ProductosMarcasNK_Admin {
    background-color: var(--gris-bg);
    margin: 1em auto;
}

.ProductosNK_Admin h2,
.ProductosCategoriasNK_Admin h2,
.ProductosMarcasNK_Admin h2 {
    padding: 0.5em;
    margin: 0;
    color: var(--blanco);
    background-color: var(--negro);
    text-align: center;
}
.ProductosNK_Admin ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
}
.ProductosNK_Admin .FormProductosBox {
    padding: 0.5em;
}
.ProductosNK_Admin .ProductoItem {
    padding: 0.5em;
    outline: 1px dashed var(--gris-outline);
    text-align: center;
}
.ProductosNK_Admin .ProductoItem:hover {
    background-color: var(--blanco-hover);
}
.ProductosNK_Admin .ProductoItem a {
    display: block;

}
.ProductosNK_Admin .ProductoItem img,
.ProductosCategoriasNK_Admin ul li img {
    display: block;
    width: 100%;
    height: 10em;
    object-fit: contain;
}

/* -------------------------------------------------- */
.ProductosNK_AdminForm > div {
    background-color: var(--gris-bg);
}

.ProductosNK_AdminForm img {
    max-width: 100%;
}
/* -------------------------------------------------- */
.ProductosCategoriasNK_Admin .FormBox,
.ProductosMarcasNK_Admin .FormBox {
    text-align: center;
    padding: 0.5em;
}
.ProductosCategoriasNK_Admin img,
.ProductosMarcasNK_Admin img {
    max-width: 100%;
    aspect-ratio: 4/3;
    object-fit: scale-down;
}

.ProductosNK_Admin .ProductoItem button,
.ProductosCategoriasNK_Admin button,
.ProductosMarcasNK_Admin button {
    display: inline-block;
    margin: 0.25em;
}
.ProductosCategoriasNK_Admin .PublicosBox ul,
.ProductosMarcasNK_Admin .PublicosBox ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    margin: 0;
    padding: 0;
}
    
.ProductosCategoriasNK_Admin .PublicosBox ul li,
.ProductosMarcasNK_Admin .PublicosBox ul li {
    text-align: center;
    padding: 0.5em;
    outline: 1px dashed var(--gris-outline);
}
.ProductosCategoriasNK_Admin .PublicosBox ul li:hover,
.ProductosMarcasNK_Admin .PublicosBox ul li:hover {
    background-color: var(--blanco-hover);
}

/* ----Form Edicion */

.ProductosNK_AdminForm > div,
.ProductosNK_Admin > div,
.ProductosNK_AdminCategoriaForm > div,
.ProductosNK_AdminFormMarca > div {
    background-color: var(--gris-bg);
    padding: 0.5em;
    margin: 1em auto;
}

.ProductosNK_AdminForm > div:empty,
.ProductosNK_Admin > div:empty,
.ProductosNK_AdminCategoriaForm > div:empty,
.ProductosNK_AdminFormMarca > div:empty {
    display: none;
}

/* Estilo Tablet */
@media screen and (min-width: 400px) {
    .ProductosNK_Admin ul {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 900px) {
    .ProductosNK_Admin ul {
        grid-template-columns: 1fr 1fr 1fr;
    }
}