@import url('CarritoComprasNK.css');

.NeoKiriLogin_JS {
    display: block;
    width: 70%;
    margin: 0 auto;
    position: relative;
}
.NeoKiriLogin_JS .HeaderBox img {
    max-width: 25em;
    display: block;
    margin: 0 auto;
    padding: 1em;
}
.NeoKiriLogin_JS .ContainerBox {
    display: grid;
    grid-template-columns: 10em 1fr;
    gap: 1em;
}
.NeoKiriLogin_JS .MenuBox {
    padding: 1em;
    background-color: #fff7;
    border-radius: 1em;
}
.NeoKiriLogin_JS .MenuBox button {
    display: block;
    width: 100%;
    padding: 0.5em;
    margin: 1em 0;
    text-align: center;
}
.NeoKiriLogin_JS .MenuBox button.Activo {
    background-color: #000;
    color: #fff
}
.NeoKiriLogin_JS .ContenidoBox {
    padding: 1em;
    background-color: #fff7;
    border-radius: 1em;
    text-align: center;
}
.NeoKiriLogin_JS .ContenidoBox h2 {
    margin: 0;
    background-color: var(--color-principal);
    color: var(--blanco);
    padding: 0.25em;
    border-radius: 0.25em;
}
.NeoKiriLogin_JS .ContenidoBox label {
    text-align: center;
}
.NeoKiriLogin_JS .ContenidoBox label {
    display: block;
    padding: 0.5em;
}
.NeoKiriLogin_JS .ContenidoBox label b {
    font-weight: bold;
    display: block;
}

.NeoKiriLogin_JS .ContenidoBox label input {
    width: 20em;
}

.NeoKiriLogin_JS .StatusBox {
    margin: 1em;
    background-color: #fff7;
    border-radius: 0.5em;

}

/* ----------------- Usuario -----------------  */
.UsuarioNK {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.UsuarioNK .UsuarioHeader {
    display: grid;
    grid-template-columns: 1fr auto;
    background-color: var(--blanco-hover);
}
.UsuarioNK .UsuarioHeader img {
    margin: 0 auto;
    display: block;
}
.UsuarioNK .UsuarioHeader h1 {
    margin: 0;
}
.UsuarioNK .UsuarioHeader h1 a {
    padding: 0.5em;
    color: var(--negro);
    text-align: center;
    display: block;
}
.UsuarioNK .UsuarioHeader button {
    display: block;
}
.UsuarioNK .UsuarioContenedor {
    display: grid;
    grid-template-columns: 12em 1fr;
    gap: 1em;
}
.UsuarioNK .UsuarioMenu ul {
    text-align: center;
    margin: 1em 0;
    background-color: var(--blanco-hover);
    border-radius: 0.5em;
}
.UsuarioNK .UsuarioMenu ul li {
    padding: 0.5em;
}
.UsuarioNK .UsuarioMenu ul li:hover {
    cursor: pointer;
}
.UsuarioNK .UsuarioMenu ul li.Activo {
    background-color: var(--blanco-hover);
}
.UsuarioNK .UsuarioMenu .UsuarioBox {
    text-align: center;

}
.UsuarioNK .UsuarioMenu .UsuarioBox h1 {
    margin: 0;
}
.UsuarioNK .UsuarioMenu .UsuarioBox img {
    max-width: 100%;
}
.UsuarioNK .UsuarioMenu .UsuarioBox a {
    display: block;
    color: var(--blanco);
    background-color: var(--negro);
    text-align: center;
}
.UsuarioNK .UsuarioBox button {
    width: 100%;
    text-align: center;
    display: block;
}
.UsuarioNK .UsuarioFooter {
    background-color: var(--negro);
    color: var(--blanco);
    text-align: right;
}
.UsuarioNK .UsuarioFooter {
    display: grid;
    grid-template-columns: 1fr 12em;
}
.UsuarioNK .UsuarioFooter .LogoFooter {
    height: 6em;
    display: block;
    max-width: 100%;
}
.UsuarioNK .UsuarioFooter button {
    display: block;
}

/* -------- Usuario Productos Favoritos Lista -------- */
.UsuarioNK .ProductosFavoritos h2 {
    margin: 0;
    text-align: center;
}
.UsuarioNK .ProductosFavoritos li {
    padding: 0.5em;
    display: grid;
    grid-template-columns: 7em 1fr;
    /* box-shadow: -1px 1px 2px #000; */
    margin-bottom: 1em;
    border-left: 0.5em solid var(--color-principal-white);
}

.UsuarioNK .ProductosFavoritos li:hover {
    background: var(--blanco-hover);
    border-radius: 0 0 0.5em 0.5em;
}

.UsuarioNK .ProductosFavoritos li a {
    border-bottom: 1px solid transparent;
    padding: 0.3em;
    color: var(--negro);
    font-weight: bold;
    font-size: 1.2em;
    text-shadow: none;
    display: block;
}

.UsuarioNK .ProductosFavoritos li a:hover {
    border-bottom: 1px solid var(--blanco);
    color: var(--blanco);
    text-shadow: 1px 1px 2px var(--negro);
}

.UsuarioNK .ProductosFavoritos .FotoBox {
    position: relative;
}

 .ProductosFavoritos .FotoBox img {
    width: 7em;
    min-height: 7em;
    height: 100%;
    object-fit: cover;
}
/* ------------------------ */

.UsuarioNK .Usuario_MisCompras li {
    margin: 1em 0;
    padding: 0.5em;
}

.UsuarioNK .Usuario_MisCompras li a {
    background-color: var(--color-principal-white);
    padding: 0.5em;
    display: block;
    width: fit-content;
}